*.7z
*.aux
*.bat
*.bcf
*.cls
*.glo
*.gls
*.gz
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.rar
*.sty
*.sublime-project
*.sublime-workspace
*.synctex
*.synctex(busy)
*.tex
*.toc
*.txt
*.xml
*.zip
.DS_Store
build
test
xduts.pdf
